{%- assign has_badge = false -%}

{%- if product.tags contains 'new' -%}
  {%- assign has_badge = true -%}
  {%- assign badge_type = 'new' -%}
  {%- assign badge_text = "NEW" -%}
{%- endif -%}

{%- for tag in product.tags -%}
  {%- assign tag_parts = tag | split: ':' -%}
  {%- if tag_parts[0] == 'limited' -%}
    {%- assign has_badge = true -%}
    {%- assign badge_type = 'limited' -%}
    
    {%- if tag_parts[1] != blank -%}
      {%- capture badge_text -%}
        LIMITED EDITION OF {{tag_parts[1] | strip }}
      {%- endcapture -%}
    {%- else -%}
      {%- assign badge_text = "LIMITED EDITION" -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- if product.tags contains 'backorder' -%}
  {%- assign has_badge = true -%}
  {%- assign badge_type = 'soldout' -%}
  {%- assign badge_text = "BACKORDERED" -%}
{%- endif -%}

{%- if product.tags contains 'soldout' -%}
  {%- assign has_badge = true -%}
  {%- assign badge_type = 'soldout' -%}
  {%- assign badge_text = "SOLD OUT" -%}
{%- endif -%}

{% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
{% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- assign img_url_2 = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">
  <div class="grid-view-item">
    <span class="visually-hidden">{{ product.title }}</span>
    {%- if has_badge -%}
    <div class="product-badge {{badge_type}}">
      {{badge_text}}
    </div>
    {%- endif -%}
    <div id="{{wrapper_id}}" class="grid-view-item__image-wrapper product-card__image-wrapper product-card js">
      <div>
        <img id="{{img_id}}"
          class="grid-view-item__image lazyload product-card__image {% if img_url_2 != blank %}first-image{% endif %}"
          src="{{ product.featured_image | img_url: 'x320' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
          data-sizes="auto"
          alt="">
        {% if img_url_2 != blank %}
        <img id="{{ img_id }}"
          class="grid-view-item__image lazyload lazypreload product-card__image second-image"
          src="{{ product.images[1] | img_url: 'x320' }}"
          data-src="{{ img_url_2 }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ product.images[1].aspect_ratio }}"
          data-sizes="auto"
          alt="">
          {% endif %}
      </div>
    </div>
    <div class="product-card__info">
      {% if section.settings.show_vendor %}
      <div class="price__vendor">
        <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
        {{ product.vendor }}
      </div>
      {% endif %}
      <h6 class="grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</h6>
      {% include 'product-price', variant: product %}
    </div>
  </div>
</a>
