{% if template != "index" %}

{% capture breadcrumb_root %}
  {% if template contains 'collection' or template contains 'product' %}
    Shop All
    {% if template == "list-collections" %}
      {% assign breadcrumb_root_style = 'selected' %}
    {% endif %}
  {% elsif template contains 'page' %}
    {{ page.title }}
    {% assign breadcrumb_root_style = 'selected' %}
  {% endif %}
{% endcapture %}

<div data-section-id="breadcrumbs" data-section-type="breadcrumbs">
  <ul class="breadcrumb-navigation">
    <li>
      <a href="#" class="{{ breadcrumb_root_style }}">{{ breadcrumb_root }}</a>
    </li>
    {% if template == 'collection' %}
    <li>></li>
    <li>
      <a href="#" class="selected">{{ collection.title }} Series</a>
    </li>
    {% elsif template == 'product' %}
    <li>></li>
    <li>
      <a href="#">{{ product.collections[0].title }} Series</a>
    </li>
    <li>></li>
    <li>
      <a href="#" class="selected">{{ product.selected_or_first_available_variant.sku }}</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}