{% if section.settings.full_height %}
  {% assign hero_height = "full-height" %}
  {% assign image_scale = "4472x" %}
{% else %}
  {% assign hero_height = "header-height" %}
  {% assign image_scale = "x500" %}
{% endif %}

<div 
  data-section-id="{{ section.id }}" 
  data-section-type="hero-section"
  class={{ hero_height }}
  style="background-image: url({{ section.settings.header_image | img_url: image_scale }});">

  {% for block in section.blocks %}
  <div class="hero-content-container {{ block.settings.alignment }}" {{ block.shopify_attributes }}>
    <div class="small-header">{{ block.settings.small_header }}</div>
    <h2 class="main-header">{{ block.settings.main_header }}</h2>
    <div class="body-content">{{ block.settings.body }}</div>

    {% if block.settings.show_cta_button == true %}
    <a class="call-to-action-container" href="{{ block.settings.cta_url }}">
      <div class="call-to-action-button">
        {{ block.settings.cta_text }}
      </div>
    </a>
    {% endif %}
  </div>
  {% endfor %}
</div>