{%- assign max_height = 400 -%}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">

  <div class="page-width" id="Collection">

    <header class="collection-header">

      {%- assign is_vendor_or_type_collection = false -%}
      {%- if collection.current_type != blank or collection.current_vendor != blank -%}
      {%- assign is_vendor_or_type_collection = true -%}
      {%- endif -%}

      {% if collection.image %}
      <div class="collection-hero medium-up--hide">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper hide">
          <h1 class="collection-hero__title page-width">
            <span role="text">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
            </span>
          </h1>
        </div>
      </div>
      {% if collection.description != blank %}
      <div class="rte collection-description page-width hide">
        {{ collection.description }}
      </div>
      {% endif %}
      {% else %}
      <div class="page-width hide">
        <div class="section-header text-center">
          <h1>
            <span role="text">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
            </span>
          </h1>
          {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </header>

    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}

    <div class="grid{% if collection.image %} has-image{% endif %}{% if collection.products_count > 0 %} grid--view-items{% endif %}">

      {% for product in collection.products %}
      {% if collection.image %}
      {% if forloop.index == 5 %}
      <div class="grid-container product">
        {% endif %}
        {% endif %}

        <div class="grid__item product grid__item--{{section.id}}{% if collection.image %}{% if forloop.index == 5 %} first-product{% endif %}{% if forloop.index == 6 %} second-product{% endif %}{% endif %}">
          {% include 'product-card-grid', max_height: max_height %}
        </div>

        {% if collection.image %}
        {% if forloop.index == 5 %}
        <div class="grid__item collection__hero-image small--hide">
          <div class="collection-hero__image ratio-container lazyload js"
               data-bgset="{% include 'bgset', image: collection.image %}"
               data-sizes="auto"
               data-parent-fit="cover"
               style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
          <noscript>
            <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
          </noscript>
        </div>
        {% endif %}
        {% endif %}
        {% if collection.image %}

        {% if forloop.index == 6 %}
      </div>
      {% endif %}
      {% endif %}

      {% else %}
      {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
      {% endcomment %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
      <li class="grid__item">
        <div class="grid grid--uniform">
          {% for i in (1..limit) %}
          <div class="grid__item {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  <span class="product-price__price">$19.99</span>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </li>
      {% else %}
      {%- assign is_empty_collection = true -%}
      {% endif %}
      {% endfor %}
    </div>

    {% if is_empty_collection %}
    <div class="grid__item small--text-center">
      <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
    </div>
    {% endif %}

  </div>
</div>




{% schema %}
{
"name": {
"de": "Kategorie-Seiten",
"en": "Collection pages",
"es": "Páginas de colección",
"fr": "Pages de collections",
"it": "Pagine delle collezioni",
"ja": "コレクションページ",
"pt-BR": "Páginas de coleções"
},
"settings": [
{
"type": "checkbox",
"id": "show_vendor",
"label": {
"de": "Produkt-Lieferanten anzeigen",
"en": "Show product vendors",
"es": "Mostrar proveedores del producto",
"fr": "Afficher les vendeurs",
"it": "Mostra fornitori prodotto",
"ja": "商品の販売元を表示する",
"pt-BR": "Exibir fornecedores do produto"
},
"default": false
}
]
}
{% endschema %}
