<div class="page-width">
  <div class="grid content">
    <div class="grid__item custom-content">

      {% if section.settings.image != blank %}
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div class="image">
        <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
             {% if section.settings.image %}
             data-bgset="{% include 'bgset', image: section.settings.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-position: center center; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
             {% endif %}>
          <div class="medium-up--text-{{ section.settings.align_text }}">
            {% if section.settings.pre_title != blank %}
            <div class="rte-setting rte">{{ section.settings.pre_title }}</div>
            {% endif %}
            {% if section.settings.title != blank %}
            <h4 class="h1">{{ section.settings.title | escape }}</h4>
            {% endif %}
            {% if section.settings.text != blank %}
            <div class="rte-setting rte">{{ section.settings.text }}</div>
            {% endif %}
            {% if section.settings.url_text != blank and section.settings.url_link != blank %}
            <a href="{{ section.settings.url_link }}" class="btn hero__btn small--hide">
              {{ section.settings.url_text | escape }}
            </a>
            {% endif %}
          </div>
        </div>
        <noscript>
          {% capture image_size %}{{ max_height }}x{% endcapture %}
          {{ section.settings.image | img_url: image_size, scale: 2, crop: 'top' | img_tag: section.settings.image.alt, 'custom__image' }}
        </noscript>
      </div>
      {% else %}
      <div class="image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
      {% endif %}
    </div>
    <div class="grid__item custom-content">
      {% for block in section.blocks %}

      {%- assign max_height = 400 -%}

      {% if block.type == 'image' %}
      {% capture img_id %}CustomImage--{{ forloop.index }}-{{ block.settings.image.id }}{% endcapture %}
      {% capture img_wrapper_id %}CustomImageWrapper--{{ forloop.index }}-{{ block.settings.image.id }}{% endcapture %}

      {% unless block.settings.image == blank %}
      {% include 'image-style' with image: block.settings.image, small_style: false, width: max_height, height: max_height, wrapper_id: img_wrapper_id, img_id: img_id %}
      {% endunless %}
      {% endif %}

      <div class="custom__item custom__item--{{block.id}} small--one-half medium-up--one-half" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}"{% if block.type == 'image' %} id="{{ img_wrapper_id }}"{% endif %}>
          {% case block.type %}
          {% when 'product' %}
          {%- assign product = all_products[block.settings.product] -%}
          {% if product.title.size > 0 %}
          {% include 'product-card-grid', max_height: max_height %}
          {% else %}
          {% comment %}
          No product yet. Show onboarding one.
          {% endcomment %}
          <div class="grid-view-item">
            <a class="grid-view-item__link" href="#">
              <div class="grid-view-item__image">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
              <div class="grid-view-item__meta">
                {{ 1999 | money }}
              </div>
            </a>
          </div>
          {% endif %}
          {% endcase %}
        </div>
      </div>

      {% endfor %}
      {% if section.settings.url_text_second != blank and section.settings.url_link_second != blank %}
      <div class="text-center custom__item one-whole align--center">
        <a href="{{ section.settings.url_link_second }}" class="btn hero__btn second">
          {{ section.settings.url_text_second | escape }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  {% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
"name": "Featured products",
"class": "index-section featured-products",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": {
"de": "Foto",
"en": "Image",
"es": "Imagen",
"fr": "Image",
"it": "Immagine",
"ja": "画像",
"pt-BR": "Imagem"
}
},
{
"type": "text",
"id": "pre_title",
"label": "Pre title"
},
{
"type": "text",
"id": "title",
"label": {
"de": "Titel",
"en": "Heading",
"es": "Título",
"fr": "En-tête",
"it": "Heading",
"ja": "見出し",
"pt-BR": "Título"
},
"default": {
"de": "Erzählen Sie von Ihrer Marke",
"en": "Talk about your brand",
"es": "Habla de tu marca",
"fr": "Parlez de votre marque",
"it": "Parla del tuo brand",
"ja": "あなたのブランドについて語る",
"pt-BR": "Fale sobre a sua marca"
}
},
{
"type": "richtext",
"id": "text",
"label": {
"de": "Text",
"en": "Text",
"es": "Texto",
"fr": "Texte",
"it": "Testo",
"ja": "テキスト",
"pt-BR": "Texto"
},
"default": {
"de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</p>",
"en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
"es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes. Describe un producto, comparte anuncios o recibe clientes en tu tienda.</p>",
"fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</p>",
"it": "<p>Utilizza questo testo per condividere le informazioni sul tuo brand con i tuoi clienti. Descrivi un prodotto, condividi gli annunci o dai il benvenuto ai clienti nel tuo negozio.</p>",
"ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。商品を説明したり、告知の共有をしたり、あるいはあなたのストアのお客様を歓迎します。</p>",
"pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. Descreva um produto, compartilhe anúncios ou receba os clientes em sua loja.</p>"
}
},
{
"type": "select",
"id": "align_text",
"label": {
"de": "Horizontale Ausrichtung",
"en": "Horizontal alignment",
"es": "Alineación horizontal",
"fr": "Alignement horizontal",
"it": "Allineamento orizzontale",
"ja": "水平アラインメント",
"pt-BR": "Alinhamento horizontal"
},
"default": "left",
"options": [
{
"value": "left",
"label": {
"de": "Links",
"en": "Left",
"es": "Izquierda",
"fr": "Gauche",
"it": "Sinistra",
"ja": "左",
"pt-BR": "Esquerda"
}
},
{
"value": "center",
"label": {
"de": "Mittig",
"en": "Centered",
"es": "Centrada",
"fr": "Centré",
"it": "Centrato",
"ja": "中央揃え",
"pt-BR": "Centralizado"
}
},
{
"value": "right",
"label": {
"de": "Rechts",
"en": "Right",
"es": "Derecha",
"fr": "Droite",
"it": "Destra",
"ja": "右",
"pt-BR": "Direita"
}
}
]
},
{
"type": "text",
"id": "url_text",
"label": "Url Text (Column Left)"
},
{
"type": "url",
"id": "url_link",
"label": "Url Link (Column Left)"
},
{
"type": "text",
"id": "url_text_second",
"label": "Url Text (Column Right)"
},
{
"type": "url",
"id": "url_link_second",
"label": "Url Link (Column Right)"
}
],
"max_blocks": 4,
"blocks": [
{
"type": "product",
"name": {
"de": "Produkt",
"en": "Product",
"es": "Producto",
"fr": "Produit",
"it": "Prodotto",
"ja": "商品",
"pt-BR": "Produto"
},
"settings": [
{
"type": "product",
"id": "product",
"label": {
"de": "Produkt",
"en": "Product",
"es": "Producto",
"fr": "Produit",
"it": "Prodotto",
"ja": "商品",
"pt-BR": "Produto"
}
}
]
}
],
"presets": [
{
"name": "Featured products with collection",
"category": "Product",
"blocks": [
{
"type": "product"
}
]
}
]
}
{% endschema %}
