{%- assign logoWidth = section.settings.logo_max_width | append: "x" | strip -%}
{%- assign logoURL = section.settings.logo | img_url: logoWidth -%}
{%- assign formId = 'ContactFooter' -%}

<footer class="site-footer">
  <div class="page-width">
    <div class="site-footer__content">
      <div class="logo-newsletter-container">
        <a href="/" class="site-footer__logo-image">
          <img class="footer-logo lazyload js"
            src="{{ logoURL }}"
                   data-src="{{ logoURL }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ shop.name }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
          <noscript>
            <img src="{{ section.settings.logo | img_url: logoWidth }}"
              srcset="{{ section.settings.logo | img_url: logoWidth }} 1x, {{ section.settings.logo | img_url: logoWidth, scale: 2 }} 2x"
              alt="{{ shop.name }}"
              style="max-width: {{ section.settings.logo_max_width }}px;">
          </noscript>
        </a>
        <div class="site-footer__newsletter">
          {% form 'customer', id: formId, novalidate: 'novalidate' %}
            {%- if form.errors -%}
              {%- capture placeholderText -%}
                {{- form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] -}}
              {%- endcapture -%}
            {%- else -%}
              {%- capture placeholderText -%}
                {{- 'general.newsletter_form.email_placeholder' | t -}}
              {%- endcapture -%}
            {%- endif -%}
            <label for="{{ formId }}-email" class="visually-hidden">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
            <div class="site-footer__newsletter{% if form.errors %} newsletter__input-group--error{% endif %}">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                     name="contact[email]"
                     id="{{ formId }}-email"
                     class="newsletter__input{% if form.errors %} input--error{% endif %}"
                     value="{% if customer %}{{ customer.email }}{% endif %}"
                     placeholder="{{placeholderText}}"
                     autocorrect="off"
                     autocapitalize="off"
                {% if form.errors %} aria-invalid="true" aria-describedby="{{ formId }}-email-error"{% endif %}>
              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </div>
          {% endform %}
        </div>
      </div>
      <div class="footer-navigation-container">
        {%- for block in section.blocks -%}
        <div class="site-footer__item">
          {%- assign footer_linklist = block.settings.menu -%}
          <ul class="site-footer__linklist{% if inline_list %} list--inline{% endif %}">
            {%- for link in linklists[footer_linklist].links -%}
            <li class="site-footer__linklist-item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {%- endfor -%}
          </ul>
        </div>
        {%- endfor -%}
        {%- if section.settings.show_social_links -%}
        <div class="site-footer__item social-links-container">
          {% include 'social-links' %}
        </div>
        {%- endif -%}
      </div>
      <div class="copyright-container">
        <div class="copyright-content">
          <p>{{ 'copyright_statement' | t }}</p>
          <p>{{ 'patent_statement' | t }}</p>
        </div>
        {%- if section.settings.show_payment_icons -%}
        <div class="payment-option-content">
          <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
          <ul class="payment-icons list--inline site-footer__icon-list">
          {% for type in shop.enabled_payment_types %}
            <li class="payment-icon">
              {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
            </li>
          {% endfor %}
          </ul>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "header",
      "content": "Social Links"
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "Show Social Links"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}
