{%- assign collection = collections[section.settings.collection] -%}

<div 
  data-section-id="{{ section.id }}" 
  data-section-type="featured-collection-section" 
  class="featured-collection-container">
  <div class="collection-metadata">
    <div class="background"></div>
    <div class="collection-anchor-image"
        style="background: url({{section.settings.anchor_image | img_url: '4472x'}}) no-repeat; 
               background-position: bottom right;">
      <div class="collection-label">{{section.settings.collection_heading}}</div>
      <h2 class="collection-name">{{collection.title}} Series</h2>
      <div class="collection-description">{{collection.description}}</div>
      <div class="call-to-action-container">
        <a href="{{collection.url}}">
          <div class="shop-now-button">
            SHOP NOW
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="collection-products">
    <div class="product-grid">
      {% for product in collection.products limit: 4 %}
        {% include 'product-block' %}  
      {% endfor %}
    </div>
    <div class="view-series">
      <a href="{{collection.url}}">View Series</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "collection_heading",
        "label": "Collection Heading"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id": "anchor_image",
        "type": "image_picker",
        "label": "Anchor Image"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}