{% if template.name == 'index' %}
  {% assign header_class = "on-hero" %}
{% else %}
  {% assign header_class = "solid-header" %}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="site-header {{ header_class }}">
  <div class="header-container">
    <div class="header" itemscope itemtype="http://schema.org/Organization">
      <a href="/" itemprop="url" class="site-logo"></a>
      <nav role="navigation">
        <ul class="site-nav">
          {% for link in linklists[section.settings.main_linklist].links %}
            {%- assign child_list_handle = link.title | handleize -%}
            {% if menus[child_list_handle].links != blank %}
              <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
                <a href="{{ link.url }}" class="site-nav__link">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>
                <ul class="site-nav__submenu">
                  {% for childlink in menus[child_list_handle].links %}
                    <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <ul class="account-links">
        <li>
          <a href="#" itemprop="url" class="search-icon"></a>
        </li>
        <li>
          <a href="/account" itemprop="url" class="profile-icon"></a>
        </li>
        <li>
          <a href="#" itemprop="url" class="cart-icon"></a>
        </li>
      </ul>
    </div>
  </div>
  {% include 'breadcrumbs' %}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
