<div class="product-page">

  <div class="product-container" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

    <div class="product-image">
      {{product.featured_image | img_url: '800x' | img_tag }}
    </div>
    <div class="product-data">
      <div class="product-short-description">{{ product.title }}</div>
      <h2 class="product-name">{{ current_variant.sku }}</h2>
      <div class="product-price">{{ product.price | money_without_trailing_zeros | remove: ',' }}</div>
      <div class="add-to-cart-container">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{current_variant.id}}" />
          <input type="hidden" name="quantity" value="1" />
          <button
            type="submit"
            name="add"
            class="add-to-cart-button"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            {% if current_variant.available %}
              Add to Shopping Cart
            {% else %}
              Sold Out
            {% endif %}
            </button>
          </form>
      </div>
      <div class="sibling-products-container">
      {% for collection in product.collections %}
        {% for sibling in collection.products %}
          {% unless sibling.id == product.id %}
        <a href="{{ sibling.url}}" class="{{ sibling.tags }}">
          {{ sibling.featured_image | img_url: 'x60' | img_tag }}
        </a>
          {% endunless %}
        {% endfor %}
      {% endfor %}
      </div>
      <div class="product-description">
        Details
        <div class="rte">
          {{ product.description }}
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product"
  }
{% endschema %}
