<div 
  data-section-id="{{ section.id }}" 
  data-section-type="upcoming-drop-section" 
  class="upcoming-drop-container"
  style="background: {{section.settings.background_color}};">
  <div class="drop-content-container" style="color: {{section.settings.text_color}};">
    <h2 class="drop-heading">{{section.settings.heading}}</h2>
    <img src="{{ section.settings.image | img_url: 'x100'}}" />
    <div class="drop-content">
      {{section.settings.content}}
    </div>
    <a href="{{section.settings.page_url}}" class="view-drop-link" style="color: {{section.settings.text_color}}">
      View Drops
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "Upcoming Drops",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "id": "background_color",
        "type": "color",
        "label": "Background Color"
      },
      {
        "id": "text_color",
        "type": "color",
        "label": "Text Color"
      },
      {
        "type": "header",
        "content": "Drop Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading Text"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Teaser Image"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "Body Content"
      },
      {
        "id": "page_url",
        "type": "url",
        "label": "URL"
      }
    ],
    "presets": [
      {
        "name": "Upcoming Drops",
        "category": "Collection"
      }
    ]
  }
{% endschema %}